.icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.icon-check {
    background-image: url('../assets/icons/icon-check.svg');
}

.icon-close {
    background-image: url('../assets/icons/icon-close.svg');
}